body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  scroll-behavior: smooth;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  height: 100vh;
  position: fixed;
  padding: 30px 25px;
}

.profile img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profile h2 {
  text-align: center;
  margin-top: 15px;
}

.profile p {
  text-align: center;
  opacity: 0.8;
}

nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
  color: white;
  font-weight: bold;
}

/* MAIN CONTENT */
.main {
  margin-left: 260px;
  padding: 60px 60px;
  width: calc(100% - 260px);
}

.section {
  margin-bottom: 90px;
}

h1, h2 {
  color: #1e293b;
}

.project {
  padding: 25px;
  margin-bottom: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  background: white;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-grid span {
  padding: 8px 15px;
  border-radius: 6px;
  background: #e2e8f0;
}
